<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303684458367-k7scauq0lf1r5u2d2skvu8gkudpo9e5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303684458367-k7scauq0lf1r5u2d2skvu8gkudpo9e5g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303684458367-37rhungbi2e0noov750e17bknrvr44m3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_-aeXhBxioar1sd8Y3T0PZrDF4a9eTh8</string>
	<key>GCM_SENDER_ID</key>
	<string>303684458367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itsoch.trackon</string>
	<key>PROJECT_ID</key>
	<string>trackon-32270</string>
	<key>STORAGE_BUCKET</key>
	<string>trackon-32270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303684458367:ios:f627a45810fdeca3b8ac4a</string>
</dict>
</plist>